.background-color1{
  background-color: #0D1B4C;
}

.background-color2{
  background-color: #3F6699;
}

.background-color3{
  background-color: #78C2C3;
}

.margin-post-obj{
  margin-top: 15px;
  margin-bottom: 15px;
}

.padding-top-10{
  padding-top: 10px;
}

.margin-bot-5{
  margin-bottom: 5px;
}



#Post .content{
  border-radius: 5px;
  border: 1px #d0d2d0;
}

#Post .title{
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#Post .content .post-content textarea{
  width: 100%;
  border-radius: 5px;
}

#Post .content .act-button{
  text-align: right;
  margin-top: 15px;
}

#Post .content .act-button >button{
  border-radius: 25px;
}
