
.margin-post-obj{
  margin-top: 15px;
  margin-bottom: 15px;
}

.padding-top-10{
  padding-top: 10px;
}

.margin-bot-5{
  margin-bottom: 5px;
}

#News .news-title{
  margin-top: 75px;
  text-align: left;
  font-weight: bold;
}

#post-list{
  overflow-y: auto;
  height: auto;
  max-height: 250px;
}
#post-list::-webkit-scrollbar{
  width: 5px;
}

#post-list::-webkit-scrollbar-track{
  border-radius: 20px;
}

#post-list::-webkit-scrollbar-thumb{
  background: #ddd;
  border-radius: 10px;
}

#Post .content{
  border-radius: 5px;
  border: 1px #d0d2d0;
}

#Post .title{
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ee2b80;
}

#Post .content .post-content textarea{
  width: 100%;
  border-radius: 5px;
  resize: none;
}

#Post .content .act-button{
  text-align: right;
  margin-top: 15px;
  margin-right: 100px;
}

#Post .content .act-button >button{
  border-radius: 25px;
}
