.love_bar{
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	margin-top: 10px;
	background-color: #ee2b80;
	margin-bottom: 20px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
}

.love_bar p{
	margin-left: 5px;
	background-color: #ee2b80;	
	text-align: center;
	width: 200px;
}

#love_bar1{
	margin-top: 80px;
}

.love_bar i{
	margin-right: 5px;
}

.love_bar .more{
	font-weight: normal;	
	text-align: right;
}

.form-control{
	margin-bottom: 40px;
}

.listlove{
	margin-bottom: 20px;
}

.listlove .love{
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	margin-bottom: 20px;
}

.box-shadow{
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
       -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    	-ms-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    	 -o-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
        	box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}

.listlove .love .avatar{
	text-align: center;
	background-color: #fff;
}

.listlove .love img{
	display: block;
	height: 100%;
	width: 100%;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}

button.apply{
	position: absolute;
	width: 40%;
 	height: 30px;
 	bottom: 50px;
 	left:30%;
    background-color: #ee2b80;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    font-size: 16px;
	border: 1px solid #fff;
 	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
button.apply:focus,
button.apply:active,
button.apply:hover{
	background-color: #e02476;
}


.listlove .love .heart{
	position: absolute;
	top: 5%;
	right: 10%;
	font-size: 30px;
	color: #ee2b80;
}

.listlove .love .heart:hover,
.listlove .love .heart:focus,
.listlove .love .heart:active{
	color: #e02476;
}

.listlove .love .name{
	height: 50px;
	text-align: center;
	background-color: #fff;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px; 
	font-size: 16px;
	line-height: 4;
	font-weight: 500;

}

@media screen and (min-width: 768px){
	.love_bar{
	background-color: #fff;
	}

	.love_bar p{
	background-color: #ee2b80;
	margin-left: 0px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	font-size: 25px;
	}

	.love_bar .more{
	color: #666;
	}

	#NavMobile .ul-icon .li-icon{
	width: 16.66%;
	float: none;
	}
	
	.ul-icon .li-icon a{
		font-size: 35px;
	}

	.icon{
		text-align: right;

	}

	#more:hover,
	#more:focus,
	#more:active{
	color: #ee2b80;
	}

}
@media screen and (min-width: 991px){
	.love_bar p{
		background-color: #fff;
		color: #ee2b80;
	}
	.ul-icon .li-icon a{
		font-size: 40px;
	}
}