

#NavMobile{
	display: block;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #000;
}

#NavMobile .ul-icon{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
}

#NavMobile .ul-icon .li-icon{
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	float: left;
}

.ul-icon .li-icon a{
	display: block;
	width: auto;
	background-color: #fff;
	text-align: center;
	font-size: 35px;
	text-transform: none;
	color: #666;
	line-height: 70px;
}

.logo a{
	display: block;
	background-color: #fff;
	text-align: left;
	font-size: 40px;
	text-transform: none;
	color: #666;
	line-height: 70px;
}

#NavMobile .ul-icon .li-icon:hover,
#NavMobile .ul-icon .li-icon:focus,
#NavMobile .ul-icon .li-icon:active{
	color: #ee2b80;
	text-decoration: none;
}

#NavMobile a:hover,
#NavMobile a:focus,
#NavMobile a:active{
	color: #ee2b80;
	text-decoration: none;
}
 
#NavMobile .ul-icon .about-icon a{
 	font-size: 20px;
 }

 /*Notification menu*/

.noti-menu a{
	color: #000;
	background-color: #fff;
}

.noti-menu{
	padding: 0;
	width: 300px;
}

.noti-menu a{
	border-bottom: 1px solid #cbcbcb;
}

.noti-menu .noti .avatar{
	text-align: center;
}

.noti-menu .noti .avatar img {
	height: 50px;
	width: 50px;
	border-radius: 100%;
}

.noti-menu .noti .noti-name{
	font-size: 20px;
	font-weight: bold;
	margin-top: -10px;
	margin-bottom: -40px;
}

.noti-menu .noti .noti-content{
	font-size: 20px;
	margin-bottom: -20px;
}

.noti-menu .noti:hover,
.noti-menu .noti:focus,
.noti-menu .noti:active{
	background-color: #f6f7f9;
	text-decoration: none;
}

 /*Notification menu*/

 /*About menu*/
.about-menu{
	left: -200px;
	padding: 0px;

}

.about-menu li{
	border-bottom: 1px solid #cbcbcb;
	text-align: left;
}

.about-menu i{
	color: #ee2b80;
	font-size: 40px;
	height: 50px;
	width: 50px;
	margin-right: 30px;
	margin-top: 12px;
}

.ul-icon .li-icon .about-menu a {
	font-size: 30px;
	text-align: left;
}

.about-menu img {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.about-menu li:hover,
.about-menu li:focus,
.about-menu li:active{
	background-color: #f6f7f9;
	text-decoration: none;
}

 /*About menu*/

.love_bar{
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	margin-top: -20px;
	background-color: #ee2b80;
	margin-bottom: 20px;
	margin-top: 10px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
}

.love_bar p{
	margin-left: 5px;
	background-color: #ee2b80;	
	text-align: center;
	width: 200px;
}

.love_bar i{
	margin-right: 5px;
}

.love_bar .more{
	font-weight: normal;	
	text-align: right;
}

.form-control{
	margin-bottom: 40px;
}

.listlove{
	margin-bottom: 20px;
}

.listlove .love{
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	margin-bottom: 20px;
}

.box-shadow{
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
       -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    	-ms-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    	 -o-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
        	box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}

.listlove .love .avatar{
	text-align: center;
	background-color: #fff;
}

.listlove .love img{
	display: block;
	height: 100%;
	width: 100%;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}

button.apply{
	position: absolute;
	width: 40%;
 	height: 30px;
 	bottom: 50px;
 	left:30%;
    background-color: #ee2b80;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    font-size: 16px;
	border: 1px solid #fff;
 	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
button.apply:focus,
button.apply:active,
button.apply:hover{
	background-color: #e02476;
}


.listlove .love .heart{
	position: absolute;
	top: 5%;
	right: 10%;
	font-size: 30px;
	color: #ee2b80;
}

.listlove .love .heart:hover,
.listlove .love .heart:focus,
.listlove .love .heart:active{
	color: #e02476;
}

.listlove .love .name{
	height: 50px;
	text-align: center;
	background-color: #fff;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px; 
	font-size: 16px;
	line-height: 4;
	font-weight: 500;

}

@media screen and (min-width: 768px){
	.love_bar{
	background-color: #fff;
	}

	.love_bar p{
	background-color: #ee2b80;
	margin-left: 0px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	font-size: 25px;
	}

	.love_bar .more{
	color: #666;
	}

	#NavMobile .ul-icon .li-icon{
	width: 16.66%;
	float: none;
	}
	
	.ul-icon .li-icon a{
		font-size: 35px;
	}

	.icon{
		text-align: right;

	}

	#more:hover,
	#more:focus,
	#more:active{
	color: #ee2b80;
	}

}
@media screen and (min-width: 991px){
	.love_bar p{
		background-color: #fff;
		color: #ee2b80;
	}
	.ul-icon .li-icon a{
		font-size: 40px;
	}
}