@import url('https://fonts.googleapis.com/css?family=Quicksand');


body{
    background-color: #f8f8f8;
    font-family: 'Quicksand', sans-serif;
}

button{
    background-color: #eee;
    border: 0;
    outline: none;
    box-shadow: none;
    padding: 0;
    line-height: 30px;
}

.bg-blur-1{
    background-image: url('../images/blur-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-right{
    float: right;
}

.li-dropdown{
    position: relative;
}

    .li-dropdown .menu-dropdown{
        position: absolute;
        margin: 0;
        padding: 0;
        display: block;
        width: 250px;
        right: 0;
        z-index: 99;
        background-color: #fff;
        list-style-type: none;
        border: 1px solid #eee;
        display: none;
    }

    .li-dropdown .menu-dropdown > li{
        display: block;
        width: 100%;
        border-bottom: 1px solid #eee;
    }

    .li-dropdown .menu-dropdown > li:last-child{
        border-bottom: none;
    }

        .li-dropdown .menu-dropdown li > a{
            font-size: 14px !important;
            width: 100%;
            color: #666;
            text-decoration: none;
            display: block;
            line-height: 40px;
            padding: 0 15px;
        }

        .li-dropdown .menu-dropdown li > a:hover{
            background-color: #f8f8f8;
        }

.btn-cancel{
    padding-left: 15px;
    padding-right: 15px;
}

.btn-save{
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ee2b80;
    color: #fff;
}

.btn-save:hover,
.btn-save:focus{
    background-color: #dd2779;
}

.btn-startchat{
    background-color: #fff;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.btn-heart{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #ee2b80;
    font-size: 22px;
    text-align: center;
    border-radius: 100%;
}

.btn-heart span{
    vertical-align: middle;
}

.btn-heart:hover,
.btn-heart:focus{
    background-color: #ee2b80;
    color: #fff;
    -webkit-transition: ease-in 0.15s all 0s;
    -moz-transition: ease-in 0.15s all 0s;
    transition: ease-in 0.15s all 0s;
}

.btn-startchat img{
    display: block;
    width: 40px;
    margin: 0 auto;
}

.sh-round{
    border-radius: 100%;
}

.border-radius{
    border-radius: 5px;
}

.box-shadow{
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
       -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    	-ms-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    	 -o-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
        	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.efx-blur{
    -webkit-filter: blur(13px);
       -moz-filter: blur(13px);
        -ms-filter: blur(13px);
         -o-filter: blur(13px);
            filter: blur(13px);
}

.efx-grayscale{
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
}

.sc-icon{
	display: block;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: cover;
}

.sc-fb{
	background: url('../images/social-icons-40.png') 0 0;
}

.sc-insta{
	background: url('../images/social-icons-40.png') 0 -135px;
}

.sc-gplus{
	background: url('../images/social-icons-40.png') 0 -45px;
}

.sc-tw{
	background: url('../images/social-icons-40.png') 0 -90px;
}

.sc-yt{
	background: url('../images/social-icons-40.png') 0 -180px;
}

.bg-img{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../images/avatar.jpg') no-repeat center center fixed;
    background-size: cover;
}

.white-box{
    width: 100%;
    padding: 15px 0;
    background-color: #fff;
}

    .white-box .white-box-title{
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
        color: #333;
        font-size: 16px;
    }

        .white-box .white-box-title h5{
            margin: 0;
            padding: 0 25px;
            font-size: 16px;
            font-weight: 400;
            display: inline-block;
        }

            .white-box .white-box-title h5 > span{
                font-size: 18px;
                vertical-align: middle;
                font-weight: 300;
            }

        .white-box .white-box-title a{
            float: right;
            font-size: 14px;
            text-decoration: none;
            color: #333;
            margin-right: 20px;
        }

            .white-box .white-box-title a > span{
                font-size: 14px;
                vertical-align: middle;
                margin-left: 5px;
            }

            .white-box .white-box-title a:hover,
            .white-box .white-box-title a:focus{
                color: #ee2b80;
            }

    .white-box .white-box-body{
        padding: 15px 25px;
    }


footer{
    margin-top: 25px;
    background-color: #fff;
    padding-top: 15px;
    border-top: 1px solid #eee;
}
    footer .social-icon{
        text-align: center;
    }

        footer .social-icon ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            footer .social-icon ul li{
                display: inline-block;
                width: max-content;
                margin: 0 5px;
            }

    footer .bottom-menu{
        margin-top: 15px;
        text-align: center;
    }

        footer .bottom-menu ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            footer .bottom-menu ul li{
                display: inline-block;
                margin: 0 8px;
            }

                footer .bottom-menu ul li a{
                    color: #333;
                }

                footer .bottom-menu ul li a:hover,
                footer .bottom-menu ul li a:focus{
                    color: #ee2b80;
                }

    footer .copyright{
        margin-top: 15px;
        background-color: #333;
        color: #fff;
        font-size: 12px;
        text-align: center;
        padding: 10px 0;
        border-bottom: 4px solid #ee2b80;
    }

#NavBar{
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

#NavBar .ls-menu > ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}
#NavBar .logo a{
    line-height: 58px;
    text-decoration: none;
    color: #666;
    font-size: 16px;
    font-weight: 300;
}

#NavBar .logo a .title-logo{
    font-size: 22px;
    font-weight: 400;
    color: #ee2b80;
}

#NavBar .logo a:hover .title-logo{
    color: #f13a8d;
}

#NavBar .ls-menu > ul > li{
    display: inline-block;
    float: left;
    width: 25%;
}

#NavBar .ls-menu > ul > li > a{
    font-size: 22px;
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    height: 60px;
    padding-top: 15px;
    color: #aaa;
}

#NavBar .ls-menu > ul > li > a:hover{
    border-bottom: 2px solid #ee2b80;
    color: #ee2b80;
}

#NavBar .ls-menu > ul > li > a > i{
    font-size: 12px;
}

#NavBar .ls-menu ul.menu-dropdown li a span{
    color: #ee2b80;
    font-size: 22px;
    vertical-align: middle;
    margin-right: 10px;
}

#NavBar .ls-menu > ul > li > a > img{
    height: 25px;
    width: 25px;
    border-radius: 100%;
}

.inp-zlove{
    border-style: none;
    border-radius: 0;
    background-color: #f8f8f8;
    outline: none;
    box-shadow: none;
}
.inp-zlove:focus{
    border-bottom: 2px solid #ee2b80;
    background-color: #fff;
    outline: none;
    box-shadow: none;
}


#Loading{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 9999;
}

#Loading .fullscr{
  position: relative;
  width: 100%;
  height: 100vh;
}

#Loading .block{
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 5px !important;
  padding-top: 25px;
  position: absolute;
  top: 45%;
  left: 45%;
}

#Loading .block img{
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

.zmodal{
    display: none;
    position: fixed;
    z-index: 1020;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    color: #666;
}

    .zmodal-backdrop{
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
    }

    .zmodal-wrap{
        display: block;
        width: 768px;
        height: auto;
        background-color: #fff;
        border-radius: 5px;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }

    .zmodal-wrap .zmodal-header{
        padding: 10px 15px;
        border-bottom: 1px solid #eee;
        color: #fff;
        background-color: #ee2b80;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

        .zmodal-wrap .zmodal-header .zmodal-title{
            margin: 0;
            padding: 0;
            font-weight: 300;
            font-size: 18px;
            display: inline-block;
        }

        .zmodal-wrap .zmodal-header .close-zmodal{
            cursor: pointer;
        }

        .zmodal-wrap .zmodal-header .close-zmodal:hover,
        .zmodal-wrap .zmodal-header .close-zmodal:focus{
            color: #f8f8f8;
        }

    .zmodal-body{
        padding: 10px 15px;
        border-bottom: 1px solid #eee;
        max-height: 65vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

        .zmodal-body .zmodal-loading{
            display: block;
            width: 200px;
            height: 200px;
            margin: 0 auto;
            padding: 75px 0;
        }

            .zmodal-body .zmodal-loading img{
                display: block;
                width: 50px;
                height: 50px;
                margin: auto;
            }

    .zmodal-footer{
        text-align: right;
        padding: 10px 15px;
    }

