.messenger .chat-menu{
	margin-top: 60px;
    border-bottom: 1px solid #d8d8d8;
}

.messenger .chat-menu .search{
    border-right: 1px solid #d8d8d8;
}

.messenger .chat-menu .search .form-group{
	margin-top: 20px;
	margin-bottom: 20px;
}

.messenger .chat-menu .name-chat{
	font-size: 16px;
	font-weight: 600;
	vertical-align: middle;
	line-height: 70px;
	margin-left: 50px;
}

.messenger .chat-menu .chat-menu-action{
	line-height: 70px;
	text-align: right;
}

.messenger .chat-menu .chat-menu-action a{
	color: #666;
}

.messenger .chat-menu .chat-menu-action .chat_action{
	left: -50px;
	top: 50px;
}

.messenger .chat-menu .chat-menu-action .chat_action i{
	margin-right: 20px;
	color: #ee2b80;
}

.messenger .chat-main{
	height: 100vh;
}
.messenger .chat-main .row{
	height: 100%;
}

.messenger .chat-main .chat-list{
	border-right: 1px solid #d8d8d8;
	margin-top: 60px;
}

.messenger .chat-main .chat-list .chat_users{
	width: 100%;
	border-bottom: 1px solid #cbcbcb;
}

.messenger .chat-main .chat-list .chat_users:hover,
.messenger .chat-main .chat-list .chat_users:focus,
.messenger .chat-main .chat-list .chat_users:active{
	background-color: #dedede;
	text-decoration: none;
}

.messenger .chat-main .chat-list .chat_users a{
	color: #000;
	background-color: #fff;
}


.messenger .chat_users .avatar{
	text-align: center;
}

.messenger .chat_users .avatar img {
	height: 40px;
	width: 40px;
	border-radius: 100%;
	margin-right: 20px;
	margin-top: 10px;
}

.messenger .chat_users .user-name{
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
}

.messenger .chat_users .user-content{
	font-size: 14px;
	margin-bottom: 10px;
}

.messenger .chat-main .chat-screen{
	border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    height: 100%;
}

.messenger .chat-main .chat-screen .chat-form{
}

.messenger .chat-main .chat_action{
	border-left: 1px solid #d8d8d8;
}

.messenger .chat-main .chat_action i{
	margin-right: 20px;
	color: #ee2b80;
}
.messenger .chat-main .chat_action a{
	color: #000;
}
.messenger .chat-main .chat_action li{
	list-style-type: none;
}


@media screen and (min-width: 768px){
.messenger .chat-main .chat-list{
	margin-top: 0px;
}
@media screen and (min-width: 991px){

}