/*Notification menu*/

#notiDropDown{
  overflow-y: auto;
  height: 360px;
}

#notiDropDown::-webkit-scrollbar{
  width: 5px;
}

#notiDropDown::-webkit-scrollbar-track{
  background-color: #eee;
  border-radius: 20px;
}

#notiDropDown::-webkit-scrollbar-thumb{
  background: #ddd;
  border-radius: 10px;
}

.noti-menu a{
	color: #000;
	background-color: #fff;
}

.noti-menu{
	padding: 0;
	width: 400px !important;
}

.noti-menu .noti .avatar{
	margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #fff;
}

.noti-menu .noti .avatar img {
	height: 50px;
	width: 50px;
	border-radius: 100%;
}

.noti-menu .noti .noti-name{
	font-size: 16px;
	font-weight: bolder;
  margin-left: 15px;
  margin-bottom: -15px;
}

.noti-menu .noti .noti-content{
	font-size: 14px;
  margin-left: 15px;
  margin-top: -15px;
}

.noti-menu .noti:hover,
.noti-menu .noti:focus,
.noti-menu .noti:active{
	background-color: #f6f7f9;
	text-decoration: none;
}

 /*Notification menu*/

.noti-list a{
	color: #000;
	background-color: #fff;
}

.noti-list{
	padding: 0;
	width: 100%;
}

.noti-list .noti:hover,
.noti-list .noti:focus,
.noti-list .noti:active{
	background-color: #f6f7f9;
	text-decoration: none;
}

.noti-list .noti{
	padding-top: 20px;
	border-bottom: 1px solid #cbcbcb;
}

.noti-list .noti .avatar{
	text-align: center;
}

.noti-list .noti .avatar img {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	margin-right: 20px;
}

.noti-list .noti .noti-name{
	font-size: 30px;
	font-weight: bold;
	margin-top: -10px;
}

.noti-list .noti .noti-content{
	font-size: 20px;
}

@media screen and (min-width: 768px){
	#NavMobile .ul-icon .li-icon{
	width: 16.66%;
	float: none;
	}

	.ul-icon .li-icon a{
		font-size: 35px;
	}

	.icon{
		text-align: right;

	}
}
@media screen and (min-width: 991px){
	.ul-icon .li-icon a{
		font-size: 40px;
	}
}
