#NavBar{
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

#NavBar .ls-menu > ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}
    #NavBar .logo a{
        line-height: 58px;
        text-decoration: none;
        color: #666;
        font-size: 16px;
        font-weight: 300;
    }

        #NavBar .logo a .title-logo{
            font-size: 22px;
            font-weight: 400;
            color: #ee2b80;
        }

        #NavBar .logo a:hover .title-logo{
            color: #f13a8d;
        }

    #NavBar .ls-menu > ul > li{
        display: inline-block;
        float: left;
        width: 25%;
    }

        #NavBar .ls-menu > ul > li > a{
            font-size: 22px;
            display: block;
            width: 100%;
            text-decoration: none;
            text-align: center;
            height: 60px;
            padding-top: 15px;
            color: #aaa;
        }

        #NavBar .ls-menu > ul > li > a:hover{
            border-bottom: 2px solid #ee2b80;
            color: #ee2b80;
        }

            #NavBar .ls-menu > ul > li > a > i{
                font-size: 12px;
            }

            #NavBar .ls-menu ul.menu-dropdown li a span{
                color: #ee2b80;
                font-size: 22px;
                vertical-align: middle;
                margin-right: 10px;
            }

#prfAvatar{
    margin-top: 60px;
    position: relative;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
}

    #prfAvatar .avatar{
        display: block;
        margin: 0 auto;
        position: relative;
        width: 200px;
        height: 200px;
        background-image: url('../images/avatar.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; 
        border: 2px solid #fff;
    }

        #prfAvatar .avatar button{
            position: absolute;
            bottom: -10px;
            width: 150px;
            display: block;
            margin: 0 25px;
            background-color: #ee2b80;
            color: #fff;
            border-radius: 15px;
            font-weight: 300;
        }

        #prfAvatar .avatar button:hover,
        #prfAvatar .avatar button:focus{
            background-color: #dd2779;
        }

    #prfAvatar .username{
        text-align: center;
        margin-top: 15px;
    }

        #prfAvatar .username h3{
            margin: 0 auto;
            padding: 5px 15px;
            color: #fff;
            font-size: 22px;
            font-weight: 300;
            display: block;
            width: max-content;
            background-color: rgba(0, 0, 0, 0.4);
        }

        #prfAvatar .username h5{
            margin: 0 auto;
            padding: 5px 15px;
            color: #fff;
            font-size: 16px;
            font-weight: 300;
            display: block;
            width: max-content;
            background-color: rgba(0, 0, 0, 0.4);
            margin-top: 5px;
        }

#basicInfo{
    margin-top: 15px;
}

    #basicInfo form > div{
        margin-bottom: 10px;
    }

    #basicInfo form .frm-field{
        font-weight: 500;
    }

        #basicInfo form .frm-field i{
            color: #ee2b80;
            font-size: 14px;
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }

    #basicInfo .act-button{
        text-align: right;
        margin-top: 15px;
        display: none;
    }

        #basicInfo .act-button button{
            border-radius: 15px;
        }

