
#prfAvatar{
    margin-top: 60px;
    position: relative;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
}

    #prfAvatar .avatar{
        display: block;
        margin: 0 auto;
        position: relative;
        width: 200px;
        height: 200px;
        background-image: url('../images/avatar.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; 
        border: 2px solid #fff;
    }

        #prfAvatar .avatar label{
            position: absolute;
            bottom: -10px;
            width: 150px;
            display: block;
            margin: 0 25px;
            background-color: #ee2b80;
            color: #fff;
            border-radius: 15px;
            font-weight: 300;
            line-height: 30px;
            text-align: center;
        }

        #prfAvatar .btn-startchat{
            position: absolute;
            bottom: -15px;
            left: 70px;
        }

        #prfAvatar .avatar label:hover,
        #prfAvatar .avatar label:focus{
            background-color: #dd2779;
        }

    #prfAvatar .username{
        text-align: center;
        margin-top: 15px;
    }

        #prfAvatar .username h3{
            margin: 0 auto;
            padding: 5px 15px;
            color: #fff;
            font-size: 22px;
            font-weight: 300;
            display: block;
            width: max-content;
            background-color: rgba(0, 0, 0, 0.4);
        }

        #prfAvatar .username h5{
            margin: 0 auto;
            padding: 5px 15px;
            color: #fff;
            font-size: 16px;
            font-weight: 300;
            display: block;
            width: max-content;
            background-color: rgba(0, 0, 0, 0.4);
            margin-top: 5px;
        }

#basicInfo{
    margin-top: 15px;
}

    #basicInfo form > div{
        margin-bottom: 10px;
    }

    #basicInfo form .frm-field{
        font-weight: 500;
        display: block;
        margin-bottom: 10px;
    }

        #basicInfo form .frm-field i{
            color: #ee2b80;
            font-size: 14px;
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }

    #basicInfo .act-button{
        text-align: right;
        margin-top: 15px;
        display: none;
    }

        #basicInfo .act-button button{
            border-radius: 15px;
        }

#Notfound{
    text-align: center;
    color: #666;
    margin:  25% 0;
}

#frmBasicInfo .span-inp,
#frmBasicInfo .span-select,
#frmBasicInfo .span-gr-inp {
    display: block;
    margin-left: 25px;
}

.zmodal-body #prvImg{
    width: 100%;
    max-height: 65vh;
}

.zmodal-body img.imgPreview{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}