select{
	border-radius: 30px !important;
	height: 40px !important;
	border: 1px solid #aaaaaa !important;
	margin-bottom: 30px;
}

#NavMobile{
	display: block;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
}

#NavMobile ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
}

#NavMobile ul li{
	display: inline-block;
	width: 25%;
	vertical-align: middle;
	float: left;
}

#NavMobile ul li a{
	display: block;
	width: 100%;
	background-color: #fff;
	text-align: center;
	font-size: 40px;
	text-transform: none;
	color: #666;
	line-height: 70px;
}

#NavMobile ul li a:hover,
#NavMobile ul li a:focus,
#NavMobile ul li a:active{
	color: #ee2b80;
	text-decoration: none;
}

#NavMobile a{
	display: block;
	width: 16.66%;
	background-color: #fff;
	text-align: left;
	font-size: 40px;
	text-transform: none;
	color: #666;
	line-height: 70px;
}

#NavMobile a:hover,
#NavMobile a:focus,
#NavMobile a:active{
	color: #ee2b80;
	text-decoration: none;
}
@media screen and (min-width: 768px){
	#NavMobile ul li{
	width: 16.66%;
	float: none;
	}	
}
@media screen and (min-width: 991px){
	
}