
	<!-- jQuery -->
		
		<!-- Bootstrap JavaScript -->
		<script src="/web/js/bootstrap.min.js"></script>
		<!-- Owl Carousel -->
		<script src="/web/js/owl.carousel.min.js"></script>
		<script src="/web/js/main.js"></script>
		
</body>
</html>