<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="social-icon">
                    <ul>
                        <li><a href="#"><span class="sc-icon sc-fb"></span></a></li>
                        <li><a href="#"><span class="sc-icon sc-insta"></span></a></li>
                        <li><a href="#"><span class="sc-icon sc-gplus"></span></a></li>
                        <li><a href="#"><span class="sc-icon sc-tw"></span></a></li>
                        <li><a href="#"><span class="sc-icon sc-yt"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="bottom-menu">
                    <ul>
                        <li><a href="#">Về chúng tôi</a></li>
                        <li><a href="#">Hướng dẫn</a></li>
                        <li><a href="#">Điều khoản</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Liên hệ với chúng tôi</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        Xây dựng và phát triển bởi Ziczac Team. Copyright © 2017. All rights reserved.
    </div>
</footer>