<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%- title %></title>
  		<link rel="stylesheet" href="/web/css/bootstrap.min.css">
  		<link rel="stylesheet" href="/web/css/font-awesome.min.css">
		<link rel="stylesheet" href="/web/css/owl.carousel.min.css">
		<link rel="stylesheet" href="/web/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="/web/css/linecons.css">
		<link rel="stylesheet" href="/web/css/animate.css">
		<link rel="stylesheet" type="text/css" href="/web/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/web/css/signin.css">

  <% if (ENV_DEVELOPMENT) { %>
    
  <% } %>
</head>
<body>
