<section id="NavBar">
    <div class="container">
        <div class="row">
            <div class="hidden-xs col-sm-4">
                <div class="logo">
                    <a href="<%= local.setting.basepath%>"><span class="title-logo">Zlove</span> - Find your true love !</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-4 col-md-offset-4 ls-menu">
                <ul>
                    <li>
                        <a href="#"><span class="li_heart" aria-hidden="true"></span></a>
                    </li>
                    <li>
                        <a href="#"><span class="li_bubble" aria-hidden="true"></span></a>
                    </li>
                    <li class="li-dropdown">
                        <a href="#" class="toggle-menu-dropdown" dropdown-target="notiDropDown" >
                            <span class="li_world" aria-hidden="true"></span>
                        </a>
                        <ul id="notiDropDown" class="menu-dropdown noti-menu">
                            <li>
                                <a href="#">
                                    <div class="noti">
                                        <div class="row">
                                            <div class="col-xs-2 avatar">
                                                <img src="/web/images/avatar.jpg">
                                            </div>
                                            <div class="col-xs-10">
                                                <div class="noti-name">lorem ifsum</div>
                                                <div class="noti-content">It is a long established fact that a reader</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="noti">
                                        <div class="row">
                                            <div class="col-xs-2 avatar">
                                                <img src="/web/images/avatar.jpg">
                                            </div>
                                            <div class="col-xs-10">
                                                <div class="noti-name">lorem ifsum</div>
                                                <div class="noti-content">It is a long established fact that a reader</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="noti">
                                        <div class="row">
                                            <div class="col-xs-2 avatar">
                                                <img src="/web/images/avatar.jpg">
                                            </div>
                                            <div class="col-xs-10">
                                                <div class="noti-name">lorem ifsum</div>
                                                <div class="noti-content">It is a long established fact that a reader</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="noti">
                                        <div class="row">
                                            <div class="col-xs-2 avatar">
                                                <img src="/web/images/avatar.jpg">
                                            </div>
                                            <div class="col-xs-10">
                                                <div class="noti-name">lorem ifsum</div>
                                                <div class="noti-content">It is a long established fact that a reader</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="noti">
                                        <div class="row">
                                            <div class="col-xs-2 avatar">
                                                <img src="/web/images/avatar.jpg">
                                            </div>
                                            <div class="col-xs-10">
                                                <div class="noti-name">lorem ifsum</div>
                                                <div class="noti-content">It is a long established fact that a reader</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                            <a href="#">
                              <div class="noti">
                                <div class="row">
                                  <div class="col-xs-2 avatar">
                                    <img src="/web/images/avatar.jpg">
                                  </div>
                                  <div class="col-xs-10">
                                    <div class="noti-name">lorem ifsum</div>
                                    <div class="noti-content">It is a long established fact that a reader</div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                            <li>
                            <a href="#">
                              <div class="noti">
                                <div class="row">
                                  <div class="col-xs-2 avatar">
                                    <img src="/web/images/avatar.jpg">
                                  </div>
                                  <div class="col-xs-10">
                                    <div class="noti-name">lorem ifsum</div>
                                    <div class="noti-content">It is a long established fact that a reader</div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                        </ul>
                    </li>
                    <!--<li>-->
                    <!--<a href="#">test</a>-->
                    <!--</li>-->
                    <li class="li-dropdown">
                        <a href="javascript:void(0)" class="toggle-menu-dropdown" dropdown-target="menuDropDown">
                            <i class="fa fa-circle-thin" aria-hidden="true" ></i>
                            <i class="fa fa-circle-thin" aria-hidden="true"></i>
                            <i class="fa fa-circle-thin" aria-hidden="true"></i>
                        </a>
                        <ul id="menuDropDown" class="menu-dropdown">
                            <li><a href="<%= local.setting.basepath%>home/profile-new"><span class="li_user" aria-hidden="true"></span> Hồ sơ của bạn</a></li>
                            <li><a href="<%= local.setting.basepath%>home/post"><span class="li_news" aria-hidden="true"></span> Đăng tin tìm</a></li>
                            <li><a href="#"><span class="li_heart" aria-hidden="true"></span> Đã ứng tuyển</a></li>
                            <li><a href="#"><span class="li_settings" aria-hidden="true"></span> Cài đặt</a></li>
                            <li><a href="<%= local.setting.basepath %>home/logout"><span class="li_paperplane" aria-hidden="true"></span> Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
