<% include ../include/header %>

<!--include css:-->
<link rel="stylesheet" type="text/css" href="/web/css/about.css">

</head>
<body>
		<% include ../include/nav-bar %>
		<div class="container">
			<div class="about">
				<div>
					<a><img src="/web/images/avatar.jpg">CV của bạn</a>
				</div>
				<div>
					<a><i class="fa fa-file-text" aria-hidden="true"></i>Đăng tin tìm thính</a>
				</div>
				<div>
					<a><i class="fa fa-heart" aria-hidden="true"></i>Đã rải thính </a>
				</div>
				<div>
					<a><i class="fa fa-cog" aria-hidden="true"></i>Cài đặt</a>
				</div>
				<div>
					<a><i class="fa fa-sign-out" aria-hidden="true"></i>Đăng xuất</a>
				</div>
			</div>
		</div>
<% include ../include/footer-main%>

<% include ../include/footer %>