<% include ../include/header %>

<!--include css:-->
<link rel="stylesheet" type="text/css" href="<%= local.setting.basepath %>web/css/homepage.css">

</head>
<body>
		<% include ../include/nav-bar %>
		<div class="container">
			<div class="love_bar">			
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-4"><p><i class="fa fa-star" aria-hidden="true"></i>TOP LOVE</p></div>
					<div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-6 hidden-md hidden-lg more"><i><u>Xem thêm</u></i></div>	
				</div>
			</div>
			<div class="listlove">	
				<div class="row">
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="love box-shadow">
						<div class="avatar"><img src="/web/images/avatar.jpg"></div>
						<div><a href="#" class="heart"><i class="fa fa-heart" aria-hidden="true"></i></a></div>
						<button type="submit" class="apply">APPLY CV</button>
						<div class="name"><p>lorem ifsum</p></div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="love box-shadow">
						<div class="avatar"><img src="/web/images/avatar.jpg"></div>
						<div><a href="#" class="heart"><i class="fa fa-heart" aria-hidden="true"></i></a></div>
						<button type="submit" class="apply">APPLY CV</button>
						<div class="name"><p>lorem ifsum</p></div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="love box-shadow">
						<div class="avatar"><img src="/web/images/avatar.jpg"></div>
						<div><a href="#" class="heart"><i class="fa fa-heart" aria-hidden="true"></i></a></div>
						<button type="submit" class="apply">APPLY CV</button>
						<div class="name"><p>lorem ifsum</p></div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="love box-shadow">
						<div class="avatar"><img src="/web/images/avatar.jpg"></div>
						<div><a href="#" class="heart"><i class="fa fa-heart" aria-hidden="true"></i></a></div>
						<button type="submit" class="apply">APPLY CV</button>
						<div class="name"><p>lorem ifsum</p></div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="love box-shadow">
						<div class="avatar"><img src="/web/images/avatar.jpg"></div>
						<div><a href="#" class="heart"><i class="fa fa-heart" aria-hidden="true"></i></a></div>
						<button type="submit" class="apply">APPLY CV</button>
						<div class="name"><p>lorem ifsum</p></div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="love box-shadow">
						<div class="avatar"><img src="/web/images/avatar.jpg"></div>
						<div><a href="#" class="heart"><i class="fa fa-heart" aria-hidden="true"></i></a></div>
						<button type="submit" class="apply">APPLY CV</button>
						<div class="name"><p>lorem ifsum</p></div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3 hidden-sm">
						<div class="love box-shadow">
						<div class="avatar"><img src="/web/images/avatar.jpg"></div>
						<div><a href="#" class="heart"><i class="fa fa-heart" aria-hidden="true"></i></a></div>
						<button type="submit" class="apply">APPLY CV</button>
						<div class="name"><p>lorem ifsum</p></div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3 hidden-sm">
						<div class="love box-shadow">
						<div class="avatar"><img src="/web/images/avatar.jpg"></div>
						<div><a href="#" class="heart"><i class="fa fa-heart" aria-hidden="true"></i></a></div>
						<button type="submit" class="apply">APPLY CV</button>
						<div class="name"><p>lorem ifsum</p></div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<select class="form-control visible-xs">
					<option value="0">lorem ipsum</option>
				</select>
			</div>
			<div class="love_bar">
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-4"><p>OTHER LOVE</p></div>
				</div>
			</div>
			<div class="listlove">	
				<div class="row">
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="love box-shadow">
						<div class="avatar"><img src="/web/images/avatar.jpg"></div>
						<div><a href="#" class="heart"><i class="fa fa-heart" aria-hidden="true"></i></a></div>
						<button type="submit" class="apply">APPLY CV</button>
						<div class="name"><p>lorem ifsum</p></div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="love box-shadow">
						<div class="avatar"><img src="/web/images/avatar.jpg"></div>
						<div><a href="#" class="heart"><i class="fa fa-heart" aria-hidden="true"></i></a></div>
						<button type="submit" class="apply">APPLY CV</button>
						<div class="name"><p>lorem ifsum</p></div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="love box-shadow">
						<div class="avatar"><img src="/web/images/avatar.jpg"></div>
						<div><a href="#" class="heart"><i class="fa fa-heart" aria-hidden="true"></i></a></div>
						<button type="submit" class="apply">APPLY CV</button>
						<div class="name"><p>lorem ifsum</p></div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="love box-shadow">
						<div class="avatar"><img src="/web/images/avatar.jpg"></div>
						<div><a href="#" class="heart"><i class="fa fa-heart" aria-hidden="true"></i></a></div>
						<button type="submit" class="apply">APPLY CV</button>
						<div class="name"><p>lorem ifsum</p></div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="love box-shadow">
						<div class="avatar"><img src="/web/images/avatar.jpg"></div>
						<div><a href="#" class="heart"><i class="fa fa-heart" aria-hidden="true"></i></a></div>
						<button type="submit" class="apply">APPLY CV</button>
						<div class="name"><p>lorem ifsum</p></div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="love box-shadow">
						<div class="avatar"><img src="/web/images/avatar.jpg"></div>
						<div><a href="#" class="heart"><i class="fa fa-heart" aria-hidden="true"></i></a></div>
						<button type="submit" class="apply">APPLY CV</button>
						<div class="name"><p>lorem ifsum</p></div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3 hidden-sm">
						<div class="love box-shadow">
						<div class="avatar"><img src="/web/images/avatar.jpg"></div>
						<div><a href="#" class="heart"><i class="fa fa-heart" aria-hidden="true"></i></a></div>
						<button type="submit" class="apply">APPLY CV</button>
						<div class="name"><p>lorem ifsum</p></div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3 hidden-sm">
						<div class="love box-shadow">
						<div class="avatar"><img src="/web/images/avatar.jpg"></div>
						<div><a href="#" class="heart"><i class="fa fa-heart" aria-hidden="true"></i></a></div>
						<button type="submit" class="apply">APPLY CV</button>
						<div class="name"><p>lorem ifsum</p></div>
						</div>
					</div>
				</div>
			</div>
		</div>


<% include ../include/footer-main %>
<% include ../include/footer %>