<% include ../include/header %>

<!--include css:-->
<link rel="stylesheet" type="text/css" href="/web/css/messenger.css">

</head>
<body>
		<section id="NavMobile">
			<div class="container">
				<div class="row">
					<div class="col-sm-2 col-md-2 hidden-xs logo">
							<a href="#">ZLOVE</a>
					</div>
					<div class="col-xs-12 col-sm-10 col-md-9 col-md-offset-1">
						<div class="icon">
						<ul>
						    <li><a href="#"> <i class="fa fa-heart" aria-hidden="true"></i></a></li>
						    <li><a href="#"> <i class="fa fa-comment" aria-hidden="true"></i></a></li>
						    <li><a href="#"> <i class="fa fa-bell" aria-hidden="true"></i></a></li>
						    <li class="hidden-xs"><a href="#"> <i class="fa fa-camera" aria-hidden="true"></i></a></li>
						    <li><a href="#"><i class="fa fa-circle-thin" aria-hidden="true"></i><i class="fa fa-circle-thin" aria-hidden="true"></i><i class="fa fa-circle-thin" aria-hidden="true"></i></a></li>
						</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		
  </div>
  
<% include ../include/footer %>