<% include ../include/header %>

<!--include css:-->
<link rel="stylesheet" type="text/css" href="/web/css/messenger.css">

</head>
<body>
		<% include ../include/nav-bar %>
		<div class="container-fluid messenger">
			<div class="row hidden-xs chat-menu">
				<div class="col-sm-6 col-md-2 search">
					<div class="form-group">
						<input type="text" class="form-control" id="search" placeholder="Tìm kiếm...">
					</div>
				</div>
				<div class="col-sm-6 col-md-10">
					<div class="name-chat">
						lorem_ipsum
					</div>
				</div>	
			</div>
			<div class="row chat-main">
				<div class="col-xs-12 col-sm-6 col-md-2 chat-list">
					<div class="chat_users">
						<a href="#">
							<div class="row">
								<div class="col-xs-2 avatar">
									<img src="/web/images/avatar.jpg">
								</div>
								<div class="col-xs-10">
									<div class="user-name">lorem ifsum</div>
									<div class="user-content">lorem_ifsum</div>
								</div>
							</div>	
						</a>
					</div>
					<div class="chat_users">
						<a href="#">
							<div class="row">
								<div class="col-xs-2 avatar">
									<img src="/web/images/avatar.jpg">
								</div>
								<div class="col-xs-10">
									<div class="user-name">lorem ifsum</div>
									<div class="user-content">lorem_ifsum</div>
								</div>
							</div>	
						</a>
					</div>
					<div class="chat_users">
						<a href="#">
							<div class="row">
								<div class="col-xs-2 avatar">
									<img src="/web/images/avatar.jpg">
								</div>
								<div class="col-xs-10">
									<div class="user-name">lorem ifsum</div>
									<div class="user-content">lorem_ifsum</div>
								</div>
							</div>	
						</a>
					</div>
				</div>
				<div class="col-sm-6 col-md-8 chat_screen">
				</div>
				<div class="col-md-2 visible-md visible-lg chat_action">
					<div><i>Tùy chọn</i></div>
					<div>Xin Facebook</div>
					<div>Xóa tin nhắn</div>
					<div>Chặn</div>
					<div>Báo cáo</div>
				</div>
			</div>
		</div>

	<%include ../include/footer-main %>  
<% include ../include/footer %>