<% include ../include/header %>

<!--include css:-->
<link rel="stylesheet" type="text/css" href="/web/css/messenger.css">

</head>
<body>
		<% include ../include/nav-bar %>
		<div class="container-fluid messenger">
			<div class="chat-menu">
				<div class="row">
					<div class="col-sm-4 col-md-2 search hidden-xs">
						<div class="form-group">
							<input type="text" class="form-control" id="search" placeholder="Tìm kiếm...">
						</div>
					</div>
					<div class="col-sm-8 col-md-10 chat-menu-bar">
						<div class="row">
							<div class="col-xs-8 col-sm-9 col-md-10">
								<div class="name-chat">
									lorem_ipsum
								</div>
							</div>
							<div class="col-xs-4 col-sm-3 visible-sm visible-xs chat-menu-action">
								<div class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<i class="fa fa-circle-thin" aria-hidden="true" ></i>
										<i class="fa fa-circle-thin" aria-hidden="true"></i>
										<i class="fa fa-circle-thin" aria-hidden="true"></i>
									</a>
									<ul class="dropdown-menu chat_action">
										<li><a href="#"><i class="fa fa-smile-o" aria-hidden="true"></i>Xin Facebook</a></li>
										<li><a href="#"><i class="fa fa-meh-o" aria-hidden="true"></i>Xóa tin nhắn</a></li>
										<li><a href="#"><i class="fa fa-ban" aria-hidden="true"></i>Chặn</a></li>
										<li><a href="#"><i class="fa fa-frown-o" aria-hidden="true"></i>Báo cáo</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
			<div class="chat-main">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-2 chat-list hidden-xs">
						<div class="chat_users">
							<a href="#">
								<div class="row">
									<div class="col-xs-2 col-sm-3 col-md-3 avatar">
										<img src="/web/images/avatar.jpg">
									</div>
									<div class="col-xs-10 col-sm-9 col-md-9">
										<div class="user-name">lorem ifsum</div>
										<div class="user-content">Lorem ipsum dolor sit amet </div>
									</div>
								</div>	
							</a>
						</div>
						<div class="chat_users">
							<a href="#">
								<div class="row">
									<div class="col-xs-2 col-sm-3 col-md-3 avatar">
										<img src="/web/images/avatar.jpg">
									</div>
									<div class="col-xs-10 col-sm-9 col-md-9">
										<div class="user-name">lorem ifsum</div>
										<div class="user-content">Lorem ipsum dolor sit amet </div>
									</div>
								</div>	
							</a>
						</div>
						<div class="chat_users">
							<a href="#">
								<div class="row">
									<div class="col-xs-2 col-sm-3 col-md-3 avatar">
										<img src="/web/images/avatar.jpg">
									</div>
									<div class="col-xs-10 col-sm-9 col-md-9">
										<div class="user-name">lorem ifsum</div>
										<div class="user-content">Lorem ipsum dolor sit amet </div>
									</div>
								</div>	
							</a>
						</div>
						<div class="chat_users">
							<a href="#">
								<div class="row">
									<div class="col-xs-2 col-sm-3 col-md-3 avatar">
										<img src="/web/images/avatar.jpg">
									</div>
									<div class="col-xs-10 col-sm-9 col-md-9">
										<div class="user-name">lorem ifsum</div>
										<div class="user-content">Lorem ipsum dolor sit amet </div>
									</div>
								</div>	
							</a>
						</div>
						<div class="chat_users">
							<a href="#">
								<div class="row">
									<div class="col-xs-2 col-sm-3 col-md-3 avatar">
										<img src="/web/images/avatar.jpg">
									</div>
									<div class="col-xs-10 col-sm-9 col-md-9">
										<div class="user-name">lorem ifsum</div>
										<div class="user-content">Lorem ipsum dolor sit amet </div>
									</div>
								</div>	
							</a>
						</div>
						<div class="chat_users">
							<a href="#">
								<div class="row">
									<div class="col-xs-2 col-sm-3 col-md-3 avatar">
										<img src="/web/images/avatar.jpg">
									</div>
									<div class="col-xs-10 col-sm-9 col-md-9">
										<div class="user-name">lorem ifsum</div>
										<div class="user-content">Lorem ipsum dolor sit amet </div>
									</div>
								</div>	
							</a>
						</div>
						<div class="chat_users">
							<a href="#">
								<div class="row">
									<div class="col-xs-2 col-sm-3 col-md-3 avatar">
										<img src="/web/images/avatar.jpg">
									</div>
									<div class="col-xs-10 col-sm-9 col-md-9">
										<div class="user-name">lorem ifsum</div>
										<div class="user-content">Lorem ipsum dolor sit amet </div>
									</div>
								</div>	
							</a>
						</div>
						<div class="chat_users">
							<a href="#">
								<div class="row">
									<div class="col-xs-2 col-sm-3 col-md-3 avatar">
										<img src="/web/images/avatar.jpg">
									</div>
									<div class="col-xs-10 col-sm-9 col-md-9">
										<div class="user-name">lorem ifsum</div>
										<div class="user-content">Lorem ipsum dolor sit amet </div>
									</div>
								</div>	
							</a>
						</div>
					</div>
					<div class="col-sm-8 col-md-8 chat-screen">
						<div class="chat_content_all">
							<div class="chat_screen_avatar">
								<img src="/web/images/avatar.jpg">
								<div class="Numberheart"><button type="submit">Numberheart</button></div>
								<div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed eros fringilla, rutrum turpis vitae, egestas elit. Suspendisse nec neque a sapien hendrerit egestas a sit amet eros.</p></div>
							</div>
							<div class="chat-content">
								<div class="send">
									<img src="/web/images/avatar.jpg">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed eros fringilla, rutrum turpis vitae, egestas elit. Suspendisse nec neque a sapien hendrerit egestas a sit amet eros.
									</p>
									<div class="seen">
										<p>Đã xem lorem ipsum</p>
									</div>
								</div>
								<div class="send">
									<img src="/web/images/avatar.jpg">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
									<div class="seen">
										<p>Đã xem lorem ipsum</p>
									</div>
								</div>
								<div class="receive">
									<img src="/web/images/avatar.jpg">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed eros fringilla, rutrum turpis vitae, egestas elit. Suspendisse nec neque a sapien hendrerit egestas a sit amet eros.
									</p>
									<div class="seen">
										<p>Đã xem lorem ipsum</p>
									</div>
								</div>
								<div class="receive">
									<img src="/web/images/avatar.jpg">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed eros fringilla, rutrum turpis vitae, egestas elit. Suspendisse nec neque a sapien hendrerit egestas a sit amet eros.
									</p>
									<div class="seen">
										<p>Đã xem lorem ipsum</p>
									</div>
								</div>
							</div>
						</div>
						<div class="chat-form">
							<div class="row">
								<div class="col-xs-2 col-sm-2 col-md-1 camera">
									<a href="#"><i class="fa fa-camera-retro" aria-hidden="true"></i></a>
								</div>
								<div class="col-xs-8 col-sm-8 col-md-10 messages">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Message...">
									</div>
								</div>
								<div class="col-xs-2 col-sm-2 col-md-1">
									<button type="summit" class="send">Send</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 visible-md visible-lg chat_action">
						<div><i>Tùy chọn</i></div>
						<li><a href="#"><i class="fa fa-smile-o" aria-hidden="true"></i>Xin Facebook</a></li>
						<li><a href="#"><i class="fa fa-meh-o" aria-hidden="true"></i>Xóa tin nhắn</a></li>
						<li><a href="#"><i class="fa fa-ban" aria-hidden="true"></i>Chặn</a></li>
						<li><a href="#"><i class="fa fa-frown-o" aria-hidden="true"></i>Báo cáo</a></li>
					</div>
				</div>
			</div>
		</div>

	<%include ../include/footer-main %>  
<% include ../include/footer %>