<% include ../include/header %>

<link rel="stylesheet" type="text/css" href="<%= local.setting.basepath %>web/css/messenger_new.css">

</head>
<body>
  <% include ../include/loading %>
  <% include ../include/nav-bar %>
  <section id="listChat">
    <div class="col-xs-12 col-md-3 col-xs-12 col-sm-5 remove-padding-left remove-padding-right">
      <div class="search">
        <input type="text" class="form-control inp-zlove" id="search" placeholder="Tìm kiếm...">
      </div>
      <div class="listchat">
        <div class="chat-users">
          <a href="#">
            <div class="row">
              <div class="col-xs-2 col-sm-3 col-md-3 avatar">
                <img src="/web/images/avatar.jpg">
              </div>
              <div class="col-xs-10 col-sm-9 col-md-9">
                <div class="user-name">lorem ifsum</div>
                <div class="user-content">Lorem ipsum dolor sit amet </div>
              </div>
            </div>
          </a>
        </div>
        <div class="chat-users">
          <a href="#">
            <div class="row">
              <div class="col-xs-2 col-sm-3 col-md-3 avatar">
                <img src="/web/images/avatar.jpg">
              </div>
              <div class="col-xs-10 col-sm-9 col-md-9">
                <div class="user-name">lorem ifsum</div>
                <div class="user-content">Lorem ipsum dolor sit amet </div>
              </div>
            </div>
          </a>
        </div>
        <div class="chat-users">
          <a href="#">
            <div class="row">
              <div class="col-xs-2 col-sm-3 col-md-3 avatar">
                <img src="/web/images/avatar.jpg">
              </div>
              <div class="col-xs-10 col-sm-9 col-md-9">
                <div class="user-name">lorem ifsum</div>
                <div class="user-content">Lorem ipsum dolor sit amet </div>
              </div>
            </div>
          </a>
        </div>
        <div class="chat-users">
          <a href="#">
            <div class="row">
              <div class="col-xs-2 col-sm-3 col-md-3 avatar">
                <img src="/web/images/avatar.jpg">
              </div>
              <div class="col-xs-10 col-sm-9 col-md-9">
                <div class="user-name">lorem ifsum</div>
                <div class="user-content">Lorem ipsum dolor sit amet </div>
              </div>
            </div>
          </a>
        </div>
        <div class="chat-users">
          <a href="#">
            <div class="row">
              <div class="col-xs-2 col-sm-3 col-md-3 avatar">
                <img src="/web/images/avatar.jpg">
              </div>
              <div class="col-xs-10 col-sm-9 col-md-9">
                <div class="user-name">lorem ifsum</div>
                <div class="user-content">Lorem ipsum dolor sit amet </div>
              </div>
            </div>
          </a>
        </div>
        <div class="chat-users">
          <a href="#">
            <div class="row">
              <div class="col-xs-2 col-sm-3 col-md-3 avatar">
                <img src="/web/images/avatar.jpg">
              </div>
              <div class="col-xs-10 col-sm-9 col-md-9">
                <div class="user-name">lorem ifsum</div>
                <div class="user-content">Lorem ipsum dolor sit amet </div>
              </div>
            </div>
          </a>
        </div>
        <div class="chat-users">
          <a href="#">
            <div class="row">
              <div class="col-xs-2 col-sm-3 col-md-3 avatar">
                <img src="/web/images/avatar.jpg">
              </div>
              <div class="col-xs-10 col-sm-9 col-md-9">
                <div class="user-name">lorem ifsum</div>
                <div class="user-content">Lorem ipsum dolor sit amet </div>
              </div>
            </div>
          </a>
        </div>
        <div class="chat-users">
          <a href="#">
            <div class="row">
              <div class="col-xs-2 col-sm-3 col-md-3 avatar">
                <img src="/web/images/avatar.jpg">
              </div>
              <div class="col-xs-10 col-sm-9 col-md-9">
                <div class="user-name">lorem ifsum</div>
                <div class="user-content">Lorem ipsum dolor sit amet </div>
              </div>
            </div>
          </a>
        </div>
        <div class="chat-users">
          <a href="#">
            <div class="row">
              <div class="col-xs-2 col-sm-3 col-md-3 avatar">
                <img src="/web/images/avatar.jpg">
              </div>
              <div class="col-xs-10 col-sm-9 col-md-9">
                <div class="user-name">lorem ifsum</div>
                <div class="user-content">Lorem ipsum dolor sit amet </div>
              </div>
            </div>
          </a>
        </div>
        <div class="chat-users">
          <a href="#">
            <div class="row">
              <div class="col-xs-2 col-sm-3 col-md-3 avatar">
                <img src="/web/images/avatar.jpg">
              </div>
              <div class="col-xs-10 col-sm-9 col-md-9">
                <div class="user-name">lorem ifsum</div>
                <div class="user-content">Lorem ipsum dolor sit amet </div>
              </div>
            </div>
          </a>
        </div>
        <div class="chat-users">
          <a href="#">
            <div class="row">
              <div class="col-xs-2 col-sm-3 col-md-3 avatar">
                <img src="/web/images/avatar.jpg">
              </div>
              <div class="col-xs-10 col-sm-9 col-md-9">
                <div class="user-name">lorem ifsum</div>
                <div class="user-content">Lorem ipsum dolor sit amet </div>
              </div>
            </div>
          </a>
        </div>
        <div class="chat-users">
          <a href="#">
            <div class="row">
              <div class="col-xs-2 col-sm-3 col-md-3 avatar">
                <img src="/web/images/avatar.jpg">
              </div>
              <div class="col-xs-10 col-sm-9 col-md-9">
                <div class="user-name">lorem ifsum</div>
                <div class="user-content">Lorem ipsum dolor sit amet </div>
              </div>
            </div>
          </a>
        </div>
        <div class="chat-users">
          <a href="#">
            <div class="row">
              <div class="col-xs-2 col-sm-3 col-md-3 avatar">
                <img src="/web/images/avatar.jpg">
              </div>
              <div class="col-xs-10 col-sm-9 col-md-9">
                <div class="user-name">lorem ifsum</div>
                <div class="user-content">Lorem ipsum dolor sit amet </div>
              </div>
            </div>
          </a>
        </div>
        <div class="chat-users">
          <a href="#">
            <div class="row">
              <div class="col-xs-2 col-sm-3 col-md-3 avatar">
                <img src="/web/images/avatar.jpg">
              </div>
              <div class="col-xs-10 col-sm-9 col-md-9">
                <div class="user-name">lorem ifsum</div>
                <div class="user-content">Lorem ipsum dolor sit amet </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="mainChat">
    <div class="col-xs-12 col-md-7 col-sm-7 remove-padding-left remove-padding-right">
      <div class="chat-title">
        <div class="row">
          <div class="col-xs-3 hidden-sm hidden-md hidden-lg">
            <a class="return-list-chat glyphicon glyphicon-chevron-left" aria-hidden="true" ></a>
          </div>
          <div class="col-xs-6 col-sm-9 col-md-12">
            <div class="name-chat">
              <a href="#"><h5><%= data.FullName %></h5></a>
              <% if (data.Online == 1) { %>
              <p><span class="dot-online"></span> Online</p>
              <% } else{ %>
              <p><span class="dot-offline"></span> Offline</p>
              <% }%>
            </div>
          </div>
          <div class="col-xs-3 col-sm-3 hidden-md visible-sm visible-xs chat-menu-action">
            <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-circle-thin" aria-hidden="true" ></i>
                <i class="fa fa-circle-thin" aria-hidden="true"></i>
                <i class="fa fa-circle-thin" aria-hidden="true"></i>
              </a>
              <ul class="dropdown-menu chat_action">
                <li><a href="#">Xin Facebook</a></li>
                <li><a href="#">Xóa tin nhắn</a></li>
                <li><a href="#"></i>Chặn</a></li>
                <li><a href="#"></i>Báo cáo</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="chat_content_all" id="chatContentWrap">
        <div class="chat_screen_avatar">
          <img src="/web/images/avatar.jpg">
          <div class="Numberheart"><button type="submit">Xem hồ sơ</button></div>
          <div class="description"><p>Là một cô gái thích hoa, yêu màu hồng, hòa bình và yêu anh =))</p></div>
        </div>
        <div class="chat-content" id="chatContent">
          <div class="send">
            <img src="/web/images/avatar.jpg">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed eros fringilla</p>
            <div class="seen">
              <p>Đã xem</p>
            </div>
          </div>
          <div class="send">
            <img src="/web/images/avatar.jpg">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <div class="seen">
              <p>Đã xem</p>
            </div>
          </div>
          <div class="receive">
            <img src="/web/images/avatar.jpg">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed eros fringilla, rutrum turpis vitae, egestas elit. Suspendisse nec neque a sapien hendrerit egestas a sit amet eros.
            </p>
            <div class="seen">
              <p>Đã xem</p>
            </div>
          </div>
          <div class="receive">
            <img src="/web/images/avatar.jpg">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed eros fringilla, rutrum turpis vitae, egestas elit. Suspendisse nec neque a sapien hendrerit egestas a sit amet eros.
            </p>
            <div class=" hidden seen">
              <p>Đã xem</p>
            </div>
          </div>
        </div>
      </div>
      <div class="chat-form">
        <div class="row remove-margin-left remove-margin-right">
          <div class="col-xs-2 col-sm-1 col-md-1">
            <a href="#"><img class="camera" src="<%= local.setting.basepath %>web/images/camera.png" alt=""></a>
          </div>
          <div class="col-xs-8 col-sm-10 col-md-10 messages">
            <input type="text" class="form-control inp-zlove" name="inp-input-messenger" placeholder="Message...">
          </div>
          <div class="col-xs-2 col-sm-1 col-md-1">
            <a href="javascript:void(0)" id="btnSendMess"><img class="send" src="<%= local.setting.basepath %>web/images/send.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="chatAbout">
    <div class="hidden-xs hidden-sm col-md-2">
      <div class="chat-about">
        <div><i>Tùy chọn</i></div>
        <ul>
          <li><a href="#">Xin Facebook</a></li>
          <li><a href="#">Xóa tin nhắn</a></li>
          <li><a href="#">Báo cáo</a></li>
          <li><a href="#">Chặn</a></li>
        </ul>
      </div>
    </div>
  </section>

<% include ../include/footer %>
