<% include ../include/header %>

<!--include css:-->
<link rel="stylesheet" type="text/css" href="/web/css/messenger.css">

</head>
<body>
		<section id="NavMobile">
			<div class="container">
				<div class="row">
					<div class="col-sm-2 col-md-2 hidden-xs logo">
							<a href="#">ZLOVE</a>
					</div>
					<div class="col-xs-12 col-sm-10 col-md-9 col-md-offset-1">
						<div class="icon">
							<ul class="ul-icon">
							    <li class="li-icon"><a href="#"> <i class="fa fa-heart" aria-hidden="true"></i></a></li>
							    <li class="li-icon"><a href="#"> <i class="fa fa-comment" aria-hidden="true"></i></a></li>
						    	<li class="dropdown li-icon">
							    	<a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
							    		<i class="fa fa-bell" aria-hidden="true"></i>
							    	</a>
							    	<ul class="dropdown-menu noti-menu hidden-xs">
							    		<li>
								    		<a href="#">
												<div class="noti">
													<div class="row">
														<div class="col-xs-2 avatar">
															<img src="/web/images/avatar.jpg">
														</div>
														<div class="col-xs-10">
															<div class="noti-name">lorem ifsum</div>
															<div class="noti-content">lorem_ifsum</div>
														</div>
													</div>	
												</div>
											</a>
										</li>
							    		<li>
								    		<a href="#">
												<div class="noti">
													<div class="row">
														<div class="col-xs-2 avatar">
															<img src="/web/images/avatar.jpg">
														</div>
														<div class="col-xs-10">
															<div class="noti-name">lorem ifsum</div>
															<div class="noti-content">lorem_ifsum</div>
														</div>
													</div>	
												</div>
											</a>
										</li>
							    		<li>
								    		<a href="#">
												<div class="noti">
													<div class="row">
														<div class="col-xs-2 avatar">
															<img src="/web/images/avatar.jpg">
														</div>
														<div class="col-xs-10">
															<div class="noti-name">lorem ifsum</div>
															<div class="noti-content">lorem_ifsum</div>
														</div>
													</div>	
												</div>
											</a>
										</li>
										<li>
								    		<a href="#">
												<div class="noti">
													<div class="row">
														<div class="col-xs-2 avatar">
															<img src="/web/images/avatar.jpg">
														</div>
														<div class="col-xs-10">
															<div class="noti-name">lorem ifsum</div>
															<div class="noti-content">lorem_ifsum</div>
														</div>
													</div>	
												</div>
											</a>
										</li>
										<li>
								    		<a href="#">
												<div class="noti">
													<div class="row">
														<div class="col-xs-2 avatar">
															<img src="/web/images/avatar.jpg">
														</div>
														<div class="col-xs-10">
															<div class="noti-name">lorem ifsum</div>
															<div class="noti-content">lorem_ifsum</div>
														</div>
													</div>	
												</div>
											</a>
										</li>
							    	</ul>
								</li>
							    <li class="hidden-xs li-icon"><a href="#"> <i class="fa fa-camera" aria-hidden="true"></i></a></li>
								<li class="dropdown nav-about li-icon about-icon">
								    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
								    	<i class="fa fa-circle-thin" aria-hidden="true" ></i>
								    	<i class="fa fa-circle-thin" aria-hidden="true"></i>
								    	<i class="fa fa-circle-thin" aria-hidden="true"></i>
								    </a>
								    <ul class="dropdown-menu about-menu hidden-xs">
								    	<li><a href="#"><img src="/web/images/avatar.jpg">CV của bạn</a></li>
								    	<li><a href="#"><i class="fa fa-file-text" aria-hidden="true"></i>Đăng tin tìm thính</a></li>
								    	<li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>Đã rải thính </a></li>
								    	<li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i>Cài đặt</a></li>
								    	<li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>Đăng xuất</a></li>
								    </ul>
							    </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="container-fluid messenger">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-2">
					<div class="form-group">
						<input type="text" class="form-control" id="search" placeholder="Tìm kiếm...">
					</div>
				</div>
				<div class="col-sm-6 col-md-8">
					
				</div>
				<div class="col-md-2 visible-md visible-lg"></div>
			</div>

		</div>


  </div>
  
<% include ../include/footer %>