<% include ../include/header %>

<!--include css:-->
<link rel="stylesheet" type="text/css" href="/web/css/profile_new.css">

</head>
<body>
        <% include ../include/loading %>
        <% include ../include/nav-bar %>

        <section id="Notfound">
            <h1>Rất tiếc!</h1>
            <h3>Không tìm thấy profile bạn yêu cầu</h3>
        </section>

        <% include ../include/footer-main %>

        <script src="<%= local.setting.basepath %>web/js/profile.js"></script>
<% include ../include/footer %>
