<% include ../include/header %>

<!--include css:-->
<link rel="stylesheet" type="text/css" href="/web/css/profile.css">

</head>
<body>
		<section id="NavMobile">
			<div class="container">
				<div class="row">
					<div class="col-sm-2 col-md-2 hidden-xs logo">
							<a href="#">ZLOVE</a>
					</div>
					<div class="col-xs-12 col-sm-10 col-md-9 col-md-offset-1">
						<div class="icon">
							<ul class="ul-icon">
							    <li class="li-icon"><a href="#"> <i class="li_heart" aria-hidden="true"></i></a></li>
							    <li class="li-icon"><a href="#"> <i class="li_bubble" aria-hidden="true"></i></a></li>
						    	<li class="dropdown li-icon">
							    	<a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
							    		<i class="li_world" aria-hidden="true"></i>
							    	</a>
							    	<ul class="dropdown-menu noti-menu hidden-xs">
							    		<li>
								    		<a href="#">
												<div class="noti">
													<div class="row">
														<div class="col-xs-2 avatar">
															<img src="/web/images/avatar.jpg">
														</div>
														<div class="col-xs-10">
															<div class="noti-name">lorem ifsum</div>
															<div class="noti-content">lorem_ifsum</div>
														</div>
													</div>	
												</div>
											</a>
										</li>
							    		<li>
								    		<a href="#">
												<div class="noti">
													<div class="row">
														<div class="col-xs-2 avatar">
															<img src="/web/images/avatar.jpg">
														</div>
														<div class="col-xs-10">
															<div class="noti-name">lorem ifsum</div>
															<div class="noti-content">lorem_ifsum</div>
														</div>
													</div>	
												</div>
											</a>
										</li>
							    		<li>
								    		<a href="#">
												<div class="noti">
													<div class="row">
														<div class="col-xs-2 avatar">
															<img src="/web/images/avatar.jpg">
														</div>
														<div class="col-xs-10">
															<div class="noti-name">lorem ifsum</div>
															<div class="noti-content">lorem_ifsum</div>
														</div>
													</div>	
												</div>
											</a>
										</li>
										<li>
								    		<a href="#">
												<div class="noti">
													<div class="row">
														<div class="col-xs-2 avatar">
															<img src="/web/images/avatar.jpg">
														</div>
														<div class="col-xs-10">
															<div class="noti-name">lorem ifsum</div>
															<div class="noti-content">lorem_ifsum</div>
														</div>
													</div>	
												</div>
											</a>
										</li>
										<li>
								    		<a href="#">
												<div class="noti">
													<div class="row">
														<div class="col-xs-2 avatar">
															<img src="/web/images/avatar.jpg">
														</div>
														<div class="col-xs-10">
															<div class="noti-name">lorem ifsum</div>
															<div class="noti-content">lorem_ifsum</div>
														</div>
													</div>	
												</div>
											</a>
										</li>
							    	</ul>
								</li>
							    <li class="hidden-xs li-icon"><a href="#"> <i class="li_camera" aria-hidden="true"></i></a></li>
								<li class="dropdown nav-about li-icon about-icon">
								    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
								    	<i class="fa fa-circle-thin" aria-hidden="true" ></i>
								    	<i class="fa fa-circle-thin" aria-hidden="true"></i>
								    	<i class="fa fa-circle-thin" aria-hidden="true"></i>
								    </a>
								    <ul class="dropdown-menu about-menu hidden-xs">
								    	<li><a href="#"><img src="/web/images/avatar.jpg">CV của bạn</a></li>
								    	<li><a href="#"><i class="fa fa-file-text" aria-hidden="true"></i>Đăng tin tìm thính</a></li>
								    	<li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>Đã rải thính </a></li>
								    	<li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i>Cài đặt</a></li>
								    	<li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>Đăng xuất</a></li>
								    </ul>
							    </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="container-fluid profile">
			<div class="container user">
				<div>
					<p><img src="/web/images/avatar.jpg">User name,age</p>
				</div>
			</div>
			<hr>
			<div class="container avatar_list">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-3 avatar">
						<img src="/web/images/avatar.jpg">
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 avatar hidden-xs">
						<img src="/web/images/avatar.jpg">
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 avatar hidden-xs">
						<img src="/web/images/avatar.jpg">
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 avatar hidden-xs hidden-sm">
						<img src="/web/images/avatar.jpg">
					</div>
				</div>
				<div class="apply">
						<button type="submit"><i class="fa fa-camera" aria-hidden="true"></i>Thêm ảnh vào CV</button>
				</div>
			</div>
			<hr>
			<div class="container information">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 question"><b>Thông tin cơ bản</b></div>
					<div class="col-xs-12 col-sm-6 col-md-6 answer"><i><ins>Chỉnh sửa</ins></i></div>
					<div class="col-xs-12 col-sm-6 col-md-6 question"><i class="fa fa-user-o" aria-hidden="true"></i>Tên</div>
					<div class="col-xs-12 col-sm-6 col-md-6 answer">Name</div>
					<div class="col-xs-12 col-sm-6 col-md-6 question"><i class="fa fa-transgender" aria-hidden="true"></i>Giới tính</div>
					<div class="col-xs-12 col-sm-6 col-md-6 answer">Sex</div>
					<div class="col-xs-12 col-sm-6 col-md-6 question"><i class="fa fa-birthday-cake" aria-hidden="true"></i>Sinh nhật</div>
					<div class="col-xs-12 col-sm-6 col-md-6 answer">DOB</div>
					<div class="col-xs-12 col-sm-6 col-md-6 question"><i class="fa fa-map-marker" aria-hidden="true"></i>Nơi ở</div>
					<div class="col-xs-12 col-sm-6 col-md-6 answer">City</div>
					<div class="col-xs-12 col-sm-6 col-md-6 question"><i class="fa fa-male" aria-hidden="true"></i>Tình trạng quan hệ</div>
					<div class="col-xs-12 col-sm-6 col-md-6 answer">Relationship</div>
					<div class="col-xs-12 col-sm-6 col-md-6 question"><i class="fa fa-id-card-o" aria-hidden="true"></i>Công việc và học vấn</div>
					<div class="col-xs-12 col-sm-6 col-md-6 answer">Career</div>
					<div class="col-xs-12 col-sm-6 col-md-6 question"><i class="fa fa-suitcase" aria-hidden="true"></i>Nghề nghiệp</div>
					<div class="col-xs-12 col-sm-6 col-md-6 answer">Job</div>
					<div class="col-xs-12 col-sm-6 col-md-6 question"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Trình độ học vấn</div>
					<div class="col-xs-12 col-sm-6 col-md-6 answer">Study</div>								
				</div>
					<div class="question"><b>Thông tin cơ bản</b></div>
					<p>Lorem_ifsum</p>	
			</div>
		</div>
		
  
<% include ../include/footer %>