<% include ../include/header %>

<!--include css:-->
<link rel="stylesheet" type="text/css" href="/web/css/setting.css">

</head>
<body>
		<% include ../include/nav-bar %>
		<div class="container">
			<div class="setting">
				<div class="white-box border-radius box-shadow">
					<div class="white-box-title">
	               		<h5><span class="li_pen" aria-hidden="true"></span> Chỉnh sửa thông tin</h5>
	               		<div class="row">
	                    	<div class="col-xs-12 col-sm-6">
	                            <span class="frm-field"><i class="fa fa-user-o"></i> Username</span>
	                        </div>
	                        <div class="col-xs-12 col-sm-6">
	                            <input required="" type="text" class="form-control inp-zlove" name="inpFirstname" default-value="heu" value="heu">
	                        </div>
	       				</div>
						<div class=""><i class="fa fa-birthday-cake" aria-hidden="true"></i>Sinh nhật</div>
						<div class=""><i class="fa fa-map-marker" aria-hidden="true"></i>Nơi ở</div>
	                </div>
				</div>
			</div>
		</div>
<% include ../include/footer-main%>

<% include ../include/footer %>