<% include ../include/header %>

<!--include css:-->
<link rel="stylesheet" type="text/css" href="/web/css/setting.css">

</head>
<body>
		<% include ../include/nav-bar %>
		<div class="container">
			<div class="setting">
				<div class="white-box border-radius box-shadow">
					<div class="white-box-title">
	               		<h5><span class="fa fa-cog" aria-hidden="true"></span> Cài đặt</h5>
	               	</div>
	               	<form action="<%= local.setting.basepath%>home/setting" method ='post'>
	               		<input type="hidden" name="_csrf" value="<%= csrf %>">
		               	<div class="white-box-body">
		               		<div class="row">
		                    	<div class="col-xs-12 col-sm-6 data">
		                            <span><i class="fa fa-user-o"></i> Username</span>
		                        </div>
		                        <div class="col-xs-12 col-sm-6 change">
		                            <input type="text" id="Username" class="form-control inp-zlove" name="username" placeholder="Username">
		                        </div>
		       				</div>
		               		<div class="row">
		                    	<div class="col-xs-12 col-sm-6 data">
		                            <span class="frm-field"><i class="fa fa-key"></i> Thay đổi Mật khẩu hoặc nhập lại mật khẩu cũ</span>
		                        </div>
		                        <div class="col-xs-12 col-sm-6 change">
		                            <input type="password" class="form-control inp-zlove" name="inppassword" placeholder="Mật khẩu">
		                        </div>
		       				</div>
		               		<div class="row">
		                    	<div class="col-xs-12 col-sm-6 data">
		                            <span class="frm-field"><i class="fa fa-key"></i> Xác nhận Mật khẩu</span>
		                        </div>
		                        <div class="col-xs-12 col-sm-6 change">
		                            <input  type="password" class="form-control inp-zlove" name="inprepeatpassword" placeholder="Xác nhận mật khẩu">
		                        </div>
		       				</div>
		               		<div class="row">
		                    	<div class="col-xs-12 col-sm-6 data">
		                            <span class="frm-field"><i class="fa fa-birthday-cake"></i> Ẩn ngày sinh</span>
		                        </div>
		                        <div class="col-xs-12 col-sm-6 change">
		                            <label class="switch">
										<input type="checkbox" name="DayofBirth" value="1">
										<span class="slider round"></span>
									</label>
								</div>
		       				</div>
		               		<div class="row">
		                    	<div class="col-xs-12 col-sm-6 data">
		                            <span class="frm-field"><i class="fa fa-map-marker"></i> Ẩn Nơi sinh</span>
		                        </div>
		                        <div class="col-xs-12 col-sm-6 change">
		                            <label class="switch">
										<input type="checkbox" name="PlaceofBirth" value="1">
										<span class="slider round"></span>
									</label>
		                        </div>
		       				</div>
		               		<div class="row">
		                    	<div class="col-xs-12 col-sm-6 data">
		                            <span class="frm-field"><i class="fa fa-address-card-o"></i> Ẩn nơi ở</span>
		                        </div>
		                        <div class="col-xs-12 col-sm-6 change">
		                            <label class="switch">
										<input type="checkbox" name="Address" value="1">
										<span class="slider round"></span>
									</label>
		                        </div>
		       				</div>
		               		<div class="row">
		                    	<div class="col-xs-12 col-sm-6 data">
		                            <span class="frm-field"><i class="fa fa-ban"></i> Deactive Tài khoản</span>
		                        </div>
		                        <div class="col-xs-12 col-sm-6 change">
									  <label class="change-check"> Deactive Tài khoản
										<input type="checkbox" name="Deactive" value="1">
	 									<span class="checkmark"></span>
									  </label>
		                        </div>
		       				</div>
		               		<div class="row">
		                    	<div class="col-xs-12 col-sm-6 data">
		                            <span class="frm-field"><i class="fa fa-trash-o"></i> Delete Tài khoản</span>
		                        </div>
		                        <div class="col-xs-12 col-sm-6 change">
									  <label class="change-check"> Delete Tài khoản
										<input type="checkbox" name="Delete" value="1">
	 									<span class="checkmark"></span>
									  </label>
		                        </div>
		       				</div>
		       				<div class="act-button">
					          <button class="btn-cancel">Hủy bỏ</button>
					          <button type="submit" class="btn-save">Lưu lại</button>
					        </div>
		                </div>
	            	</form>
				</div>
			</div>
		</div>

		<% if (message.length > 0) { %>
			<script>
				swal('Error', '<%= message %>', 'warning');
			</script>
		<%} %>
<% include ../include/footer-main%>

    <script src="<%= local.setting.basepath %>web/js/setting.js"></script>

<% include ../include/footer %>
