<% include ../include/header %>

<link rel="stylesheet" type="text/css" href="<%= local.setting.basepath %>web/css/signup.css">

</head>
<body>
		<button type="button" class="align-right"><a href="<%= local.setting.basepath %>home-auth/login" >Đăng nhập</a></button>
		<button type="button" class="align-right"><a href="<%= local.setting.basepath %>home-auth/login" >Đăng nhập</button></a>
		<div class="container-fluid bg-gradient">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="intro">
						<div class="content-wrap">
							<div class="row hidden-xs">
								<div class="col-xs-1 col-md-1">
									<button type="submit" class="logo"><i class="fa fa-facebook" aria-hidden="true"></i></button>
								</div>
								<div class="col-xs-1 col-md-1">
									<button type="submit" class="logo"><i class="fa fa-instagram" aria-hidden="true"></i></button>
								</div>
								<div class="col-xs-1 col-md-1">
									<button type="submit" class="logo"><i class="fa fa-twitter" aria-hidden="true"></i></button>
								</div>
								<div class="col-xs-1 col-md-1">
									<button type="submit" class="logo"><i class="fa fa-google-plus" aria-hidden="true"></i></button>
								</div>
							</div>
							<h3>zLove</h3>
							<h5>Tìm kiếm</h5> 
							<h5>một nửa của bạn</h5>
							<h4>Lorem ipsum dolor sit amet</h4>
							<a href="#">
								<button type="submit" class="btn-signinfb"><i class="fa fa-facebook" aria-hidden="true"></i> Đăng nhập bằng Facebook</button>
							</a>
							<p>Lorem ipsum dolor sit amet</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 signup bg-white">
					<div class="form-signup">
						<div class="title">
							<hr>
							<div class="titleh4">
								<h4>ĐĂNG KÍ BẰNG EMAIL</h4>
							</div>
						</div>
						<form>
							<div class="row"> 
  								<div class="col-xs-8 col-md-7">
	  								<div class="form-group">
	   									<label for="inputName">Họ tên</label>
	   									<input type="text" class="form-control" id="inputName" placeholder="Họ tên" required>
	  								</div>
	  							</div>
  								<div class="col-xs-4 col-md-5">
  								    <label for="inputSex">Giới tính:</label>
    								<select class="form-control">
    									<option value="0">Chọn</option>
    									<option value="1">Nam</option>
    									<option value="2">Nữ</option>
    									<option value="3">Khác</option>
    								</select>	
  								</div>	
							</div>
							<div class="row">
								<div class="col-xs-12 col-md-12"><label for="inputDOB">Ngày sinh:</label></div>
								<div class="col-xs-3 col-md-3">
									<select class="form-control">
										<option value="0">Ngày</option>
									</select>
								</div>
								<div class="col-xs-6 col-md-5">
									<select class="form-control">
										<option value="0">Tháng</option>
									</select>
								</div>
								<div class="col-xs-3 col-md-4">
									<select class="form-control">
										<option value="0">Năm</option>
									</select>
								</div>
							</div>
							<div class="row">
  								<div class="col-xs-7 col-md-7">
	  								<div class="form-group">
	   									<label for="inputAdd">Nơi ở</label>
	   									<input type="text" class="form-control" id="inputAdd" placeholder="Nơi ở" required>
	  								</div>
	  							</div>
  								<div class="col-xs-5 col-md-5">
	   							<label for="inputAim">Bạn đến đây để:</label>
    								<select class="form-control">
    									<option value="0">Chọn</option>
    									<option value="1">1</option>
    									<option value="2">2</option>
    									<option value="3">3</option>
    								</select>	
  								</div>
  							</div>	
	  						<div class="form-group">
	   							<label for="inputMail">Địa chỉ email:</label>
	   							<input type="email" class="form-control" id="inputMail" placeholder="Email" required>
	   						</div>
	  						<div class="form-group">
								<label for="inputMail">Mật khẩu:</label>
	   							<input type="password" class="form-control" id="inputPass" placeholder="Mật khẩu" required>
	   						</div>
							<button type="submit" class="btn-signup">Đăng kí</button>
							<p>Lorem ipsum dolor sit amet</p>
						</form>
					</div>
				</div>
			</div>
		</div>
  
<% include ../include/footer %>