<% include header %>

  <div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-md-6 bg-gradient">
					<div class="intro">
						<button class="bt-white align-right">Đăng nhập</button>
						<div class="content-wrap">
							<h3>Zchat</h3>
							<h5>Welcome Back!</h5> 
							<a href="#">
								<button type="submit" class="btn-signinfb"><i class="fa fa-facebook" aria-hidden="true"></i> Đăng nhập bằng Facebook</button>
							</a>
							<p>Lorem ipsum dolor sit amet</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 signin">
					<div class="title">
						<hr>
						<div class="titleh4">
							<h4>ĐĂNG NHẬP BẰNG EMAIL</h4>
						</div>
					</div>
					<div class="form-signin">
						<form>
	  						<div class="form-group">
	   							<label for="inputMail">Địa chỉ email:</label>
	   							<input type="email" class="form-control" id="inputMail" placeholder="Email" required>
	   						</div>
	  						<div class="form-group">
								<label for="inputMail">Mật khẩu:</label>
	   							<input type="password" class="form-control" id="inputPass" placeholder="Mật khẩu" required>
	   						</div>
							<button type="submit" class="btn-signin">Đăng nhập</button>
							<p><u>Quên mật khẩu?</u></p>
							<p><u>Đăng kí ngay</u></p>
						</form>
					</div>
				</div>
			</div>
		</div>

        <!-- jQuery -->
		<script src="js/jquery-3.2.1.min.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Owl Carousel -->
		<script src="js/owl.carousel.min.js"></script>
        <script src="js/main.js"></script>

<% include footer %>