
	<!-- jQuery -->
		<script src="/js/jquery-3.2.1.min.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Owl Carousel -->
		<script src="//js/owl.carousel.min.js"></script>
        <script src="/js/main.js"></script>
</body>
</html>